.all{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.content{
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px solid black;
}
.icon{
    height: 80px;
    width: 80px;
    color: orange;
    background: white;
    position: absolute;
    top: -40px;
    left: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border: 1px solid black;
    border-radius: 50%;
}
p{
    text-align: center;
}
button{
    background: white;
    height: 50px;
    width: 100px;
    border: 1px solid black;
    }