body{
    margin: 0;
}
.box1{
    height: 100vh;
    width: 100%;
    background: silver;
    position: relative;
    }
.mini-top{
    height: 50px;
    width: 150px;
    background: darkslategray;
    position: absolute;
    top: 40px;
    left: 200px;
}
.icon{
    font-size: 40px;
    position: absolute;
    right: 0;
    top: 40px;
    margin-right: 120px;
}
.fa-bars{
    margin-left: 20px;
}
.center{
    height: 50%;
    width: 100%;
    background: darkslategray;
    position: absolute;
    top: 200px;
}
.bottom{
    width: 100%;
    position: absolute;
    bottom: 170px;
    display: flex;
    justify-content: space-evenly;
}
.block{
    width: 200px;
    height: 200px;
    background: mediumpurple;
}
.brdr{
    border-radius: 10px;
}